/* General styles for main card */
.card_main_container{
    border: 1px solid #D3D3D3;
    width: 320px;
    box-shadow: 7px 7px 3px rgba(122,122,122,0.2)
}

.card_picture{
    width: 300px;
}

.interesting_fact{
    font-style: italic;
}

.card_main_container > *{
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.info_container{
    border: 1px solid #D3D3D3;
}

.info_container > *{
    margin: 10px;
    margin-bottom: 15px;
}

.animal_label_information{
    font-weight:bold;
}

ul{
    list-style: none;
    padding: 0;
}